
TFG_Sicilia/.idea/inspectionProfiles/profiles_settings.xml
TFG_Sicilia/.idea/inspectionProfiles/Project_Default.xml
TFG_Sicilia/.idea/misc.xml
TFG_Sicilia/.idea/modules.xml
TFG_Sicilia/.idea/TFG_Sicilia.iml
TFG_Sicilia/.idea/vcs.xml
TFG_Sicilia/final_dataset.csv/final_dataset.csv
TFG_Sicilia/dataset_corto.csv
TFG_Sicilia/final_dataset.csv/final_dataset.csv
*.csv
TFG_Sicilia/dataset_corto.csv
TFG_Sicilia/dataset_corto.csv
TFG_Sicilia/dataset_corto.csv
TFG_Sicilia/dataset_corto.csv
TFG_Sicilia/dataset_corto.csv
*.csv
TFG_Sicilia/dataset_corto.csv
TFG_Sicilia/dataset_corto.csv
*.csv
TFG_Sicilia/final_dataset.csv/final_dataset.csv
TFG_Sicilia/PruebasHechas.py
TFG_Sicilia/PruebasHechas.py
TFG_Sicilia/RandomForest/tree9.png
TFG_Sicilia/RandomForest/tree.dot
TFG_Sicilia/DecissionTree/test.gv.pdf
TFG_Sicilia/DecissionTree/test.gv
TFG_Sicilia/RandomForest/tree9.png
TFG_Sicilia/RandomForest/tree.dot
