
TFG_Sicilia/.idea/inspectionProfiles/profiles_settings.xml
TFG_Sicilia/.idea/inspectionProfiles/Project_Default.xml
TFG_Sicilia/.idea/misc.xml
TFG_Sicilia/.idea/modules.xml
TFG_Sicilia/.idea/TFG_Sicilia.iml
TFG_Sicilia/.idea/vcs.xml
TFG_Sicilia/final_dataset.csv/final_dataset.csv
TFG_Sicilia/dataset_corto.csv
TFG_Sicilia/final_dataset.csv/final_dataset.csv
*.csv
TFG_Sicilia/dataset_corto.csv
TFG_Sicilia/dataset_corto.csv
TFG_Sicilia/dataset_corto.csv
TFG_Sicilia/dataset_corto.csv
TFG_Sicilia/dataset_corto.csv
*.csv
TFG_Sicilia/dataset_corto.csv
TFG_Sicilia/dataset_corto.csv
*.csv
TFG_Sicilia/final_dataset.csv/final_dataset.csv
TFG_Sicilia/PruebasHechas.py
TFG_Sicilia/PruebasHechas.py
TFG_Sicilia/RandomForest/tree9.png
TFG_Sicilia/RandomForest/tree.dot
TFG_Sicilia/DecissionTree/test.gv.pdf
TFG_Sicilia/DecissionTree/test.gv
TFG_Sicilia/RandomForest/tree9.png
TFG_Sicilia/RandomForest/tree.dot
TFG_Sicilia/prueba.py
TFG_Sicilia/pruebaValoresNulos.py
TFG_Sicilia/distribucion_datos.pdf
TFG_Sicilia/prueba.py
*.dot
*.pdf
*.dot
*.png
TFG_Sicilia/RandomForest/trees/tree_0.dot
TFG_Sicilia/RandomForest/trees/tree_0.png
TFG_Sicilia/RandomForest/trees/tree_1.dot
TFG_Sicilia/RandomForest/trees/tree_1.png
TFG_Sicilia/RandomForest/trees/tree_2.dot
TFG_Sicilia/RandomForest/trees/tree_2.png
TFG_Sicilia/RandomForest/trees/tree_3.dot
TFG_Sicilia/RandomForest/trees/tree_3.png
TFG_Sicilia/RandomForest/trees/tree_4.dot
TFG_Sicilia/RandomForest/trees/tree_4.png
